<div class="ProvisionalLabel">

    <div class="alPanel">
        <div class="rowsblock">
            <label class="tlabel">现有标注列表</label>
            <div class="form-inline" id="plFetchForm">
                <div class="form-group">
                    <label for="info">信息</label>
                    <input name="info" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="type">类型</label>
                    <select name="type" class="form-control">
                        <option value>全部</option>
                        <option value='dxfw'>点标注</option>
                        <option value='kxfw'>线标注</option>
                        <option value='xxfw'>面标注</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="prod">是否解决</label>
                    <select name="prod" class="form-control">
                        <option value>全部</option>
                        <option value='0'>已解决</option>
                        <option value='1'>未解决</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="time">时间</label>
                    <input name="stime" type="text" class="form-control" onclick="WdatePicker()">
                    至 <input name="etime" type="text" class="form-control" onclick="WdatePicker()">
                </div>
                <button type="button" class="btn btn-default fetchLabel">搜索</button>
                <button type="button" class="btn btn-default addLabel">新增标注</button>
            </div>
            <div class="labelList">
                <div class="labelListHeader">
                    <span>信息</span>
                    <span>类型</span>
                    <span>是否解决</span>
                    <span>更新时间</span>
                </div>
                <div class="labelListBody"></div>
            </div>
        </div>
        <form class="form" role="form" id="plForm">
            <label class="tlabel">标注信息</label>
            <div class="form-group">
                <label for="info">信息</label>
                <input type="text" class="form-control labelText" placeholder="请输入备注" style="display:block;">
            </div>
            <div class="form-group form-date">
                <label for="time">标注时间</label>
                <input type="text" class="form-control labelDate" disabled>
            </div>
            <div class="form-group form-prod">
                <label for="prod">是否解决</label>
                <select class="form-control labelSelect">
                    <option value='0'>已解决</option>
                    <option value='1'>未解决</option>
                </select>
            </div>
            <div class="form-group form-maplabel">
                <label for="geometry">地图标注</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="drawType" id="dxfwOption" value="dxfw">
                        点标注
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="drawType" id="kxfwOption" value="kxfw">
                        矩形标注
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="drawType" id="xxfwOption" value="xxfw">
                        线形标注
                    </label>
                </div>
                <button type="button" class="btn btn-default drawGeo" id="drawGeo">设置地图标注</button>
            </div>
            <div class="form-group labelImg">
                <label for="img">图片</label>
                <input type="file" id="inputfile">
            </div>
            <button type="button" class="btn btn-default uploadLabel">保存</button>
        </form>
    </div>
</div>


<style>
    .ProvisionalLabel {
        margin: 10px 16px;
    }

        .ProvisionalLabel .tlabel {
            font-size: 16px;
            display: block;
            height: 40px;
            line-height: 40px;
        }

    .addLabel {
        float: right;
    }

    #plFetchForm {
        margin-bottom: 10px;
    }

        #plFetchForm > div {
            margin-bottom: 6px;
        }

    #plForm {
        display: none;
        margin-top: 10px;
        position: relative;
    }

        #plForm .form-group {
            margin-bottom: 8px !important;
            width: 100%;
        }

            #plForm .form-group > * {
                display: inline-block !important;
                /*vertical-align: text-top;*/
                line-height: 30px;
                font-size: 16px;
                font-weight: 300;
            }

            #plForm .form-group > label {
                width: 80px;
            }

            #plForm .form-group > input[type='text'] {
                width: 200px;
            }

            #plForm .form-group > select {
                width: 200px;
            }

        #plForm .drawGeo {
            height: 28px;
            line-height: 28px;
            padding: 0px 10px;
        }

        #plForm .labelImg > img {
            position: absolute;
            top: 44px;
            right: 0;
            max-width: 300px;
            max-height: 120px;
            border-radius: 4px;
        }

    .alPanleHead {
        text-align: center;
        background-color: #D7D7D7;
    }

    .statisticsSelect {
        width: 98%;
    }

    .tjTypeSelect {
        width: 98%;
    }

    .rowsblock {
        margin: 5px;
        position: relative;
        padding-bottom: 0px !important;
    }

    .tjresult {
        min-height: 60px
    }

    .confirmblock {
        width: 100%;
        height: 50px
    }

        .confirmblock button {
            position: absolute;
            left: 45%;
            margin-top: 20px;
        }

    .ProvisionalLabel .mCSB_container {
        padding: 0 10px;
    }

    .start {
        background-color: #64c8ff;
        min-width: 80px;
    }

        .start:hover {
            background-color: #00a5ff;
        }

    /*开关按钮样式*/
    .switch-box {
        display: block;
        margin-top: 24px;
        margin-left: 30px;
    }

        .switch-box .switch-box-slider {
            position: relative;
            display: inline-block;
            height: 8px;
            width: 32px;
            background: #d5d5d5;
            border-radius: 8px;
            cursor: pointer;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }

            .switch-box .switch-box-slider:after {
                position: absolute;
                left: -8px;
                top: -8px;
                display: block;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background: #eeeeee;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
                content: '';
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }

        .switch-box .switch-box-input {
            display: none;
        }

            .switch-box .switch-box-input ~ .switch-box-label {
                margin-left: 8px;
            }

            .switch-box .switch-box-input:checked ~ .switch-box-slider:after {
                left: 16px;
            }

            .switch-box .switch-box-input:disabled ~ .switch-box-slider {
                background: #e2e2e2;
                cursor: default;
            }

                .switch-box .switch-box-input:disabled ~ .switch-box-slider:after {
                    background: #d5d5d5;
                }

        .switch-box.is-info .switch-box-input:checked:not(:disabled) ~ .switch-box-slider {
            background: #5faee3;
        }

            .switch-box.is-info .switch-box-input:checked:not(:disabled) ~ .switch-box-slider:after {
                background: #3498db;
            }

    .rowsblock {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px rgba(0,0,0,0.1) solid;
    }

    .labelList {
    }

        .labelList > div span {
            min-width: 90px;
            display: inline-block;
            vertical-align: baseline;
        }

        .labelList .labelListHeader {
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            background-color: rgba(0,0,0,.05);
            box-sizing: border-box;
            padding: 0 10px;
        }

        .labelList .labelListBody::-webkit-scrollbar {
            width: 8px;
            height: 8px;
            background-color: #F5F5F5;
        }

        .labelList .labelListBody::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: rgba(0,0,0,.2);
        }

        .labelList .labelListBody {
            max-height: 240px;
            overflow-y: auto;
        }

            .labelList .labelListBody .singleLabel {
                cursor: pointer;
                transition: all 0.4s;
                height: 36px;
                line-height: 36px;
                box-sizing: border-box;
                padding: 0 10px;
                border-bottom: 1px rgba(0,0,0,0.1) solid;
            }

                .labelList .labelListBody .singleLabel > .icon-close1 {
                    min-width: unset;
                    float: right;
                    line-height: 36px;
                    font-size: 12px;
                }

                .labelList .labelListBody .singleLabel:last-child {
                    border-bottom: 0px
                }

                .labelList .labelListBody .singleLabel:hover {
                    background-color: rgba(0,0,0,0.1);
                }
</style>